# Next.js build output
.next/
out/

# Environment variables
.env
.env.*
!.env.example

# Logs & Dependencies
*.log
node_modules/
.DS_Store
dashboard_preview.png

# TypeScript build output
src/*.js
dist/
venv/
